body {
  font-family: "Roboto Mono", monospace;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  width: 100%;
}

header {
  background-color: #252525;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1,
header p {
  text-align: center; /* Center-align text */
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

select {
  padding: 10px;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  background-color: #222;
  cursor: pointer;
}
.profile-img {
  cursor: pointer;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: relative; /* Keeps it, no change needed */
}

.profile-class {
  position: relative;
}

.profile-img {
  cursor: pointer;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.profile-options {
  display: none; /* Hidden initially */
  padding: 10px;
  border-radius: 4px;
  min-width: 100px; /* Ensures a minimum width but can expand based on content */
  position: absolute;
  top: 80px; /* Adjust this value so it's directly beneath the .profile-img */
  left: 50%; /* This centers the dropdown with respect to the profile image */
  transform: translateX(-50%); /* This adjustment ensures actual centering */
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profile-options a,
.profile-options p {
  margin: 0;
  text-align: center;
  color: black;
  padding: 8px 0px;
  text-decoration: none;
  display: block;
}

.profile-options a:hover {
  background-color: #e0e0e0;
  border-radius: 4px;
}

.search input {
  padding: 10px;
  width: 200px;
  cursor: text;
  outline: none;
  background-color: #222;
  border: 1px solid white;
  border-radius: 3px;
  max-height: 20px;
  color: #ffffff;
}

#submitBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.search-form {
  display: flex;
  gap: 10px;
}

main {
  padding: 20px 20px 20px 50px;
}

.no-results {
  font-size: 60px;
  color: rgba(181, 181, 181, 0.74);
}

.memory-note {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 15px;
  border-radius: 2px;
  /* position: relative; */
}

.memory-note:hover {
  background-color: rgba(137, 137, 137, 0.11);
}

.memory-note .right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* .memory-note img {
  border-radius: 5px;
  width: 170px;
  height: 250px;
  object-fit: cover;
  transition: filter 0.3s ease; 
} */

/* .memory-note:hover img {
  filter: blur(5px);  Apply blur effect on hover 
} */

/* .memory-note .view {
  cursor: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
} */

/* .memory-note:hover .view {
  opacity: 1;
} */

.memory-note .trash,
.memory-note .edit {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: rgb(255, 66, 66);
}

.memory-note .edit {
  background-color: rgb(60, 63, 255);
}

/* .memory-note:hover .trash,
.memory-note:hover .edit {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */

.rating {
  margin-right: 30px;
  background-color: rgba(253, 224, 61, 0.888);
  padding: 4px;
  color: black;
  border-radius: 4px;
  min-width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.add-btn {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
}

.modify-form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.new-container {
  margin-left: 50px;
}

.new-container input,
textarea {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  min-height: 40px;
  width: 500px;
  background-color: #616161;
}

.new-container button {
  padding: 10px;
  background-color: #007bff;
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

.new-container .inp-rating {
  width: 200px;
}

/*
########################
#### Media queries #####
########################
*/

@media only screen and (max-width: 600px) {
  /* CSS rules here will apply to devices with a viewport width of 600px or less */
  header .search,
  header .filter,
  header .profile-class {
    display: none !important;
  }

  main {
    padding: 10px !important;
  }

  .rating {
    margin-right: 0 !important;
    background-color: #22222200 !important;
    color: rgba(253, 224, 61, 0.888);
  }

  .right {
    gap: 10px !important;
  }
  .last-space {
    height: 50px !important;
  }
}

@media only screen and (max-width: 400px) {
  .title h1 {
    font-size: 1em !important;
  }

  .title p {
    font-size: small;
  }
  header {
    padding: 7px;
  }

  .memory-note h4,
  .memory-note p {
    font-size: 0.7em;
  }

  .memory-note {
    padding: 0 8px !important;
  }

  .rating {
    min-width: 20px !important;
    font-size: 10px !important;
  }

  .trash,
  .edit {
    padding: 2px 4px !important;
  }

  svg {
    width: 12px !important;
    height: 12px !important;
  }
  .right {
    margin-left: 5px !important;
  }

  footer a {
    font-size: 20px !important;
    width: 30px !important;
    height: 30px !important;
    line-height: normal !important;
  }
}
